@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

/* styles.css or global.css */
html, body {
  height: 100%;
}

@supports (height: 100dvh) {
  .safe-screen {
    min-height: calc(100dvh - 100px); /* mobile safe area minus carousel */
  }
}


/* globals.css or index.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

